@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body{

    background-image: url("https://cdn.pixabay.com/photo/2014/04/03/10/11/traffic-light-310094_960_720.png");
    background-color: transparent;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:center center;

}

.button{
    text-align: center;
}

.btnAll{
    text-align: center;
    padding-left: 850px;
    padding-top: 170px;
}

.btn-1{
    border: none;
    font-size: xx-large;
    border-radius: 80px;
    padding: 84px;
    display: block;
    background-color: red;
    opacity: 0.4;
   
    
}

.btn-2{
    border: none;
    font-size: xx-large;
    border-radius: 83px;
    padding: 83px;
    display: block;
    background-color: yellow;
    opacity: 0.4;
    margin-top:45px;
  
}

.btn-3{
    border: none;
    font-size: xx-large;
    border-radius: 80px;
    padding: 83px;
    display: block;
    background-color: green;
    opacity: 0.4;
    margin-top:48px;
  
}

/*
.btn-1:hover {opacity: 1}
.btn-2:hover {opacity: 1}
.btn-3:hover {opacity: 1}

.btn-1:focus {color:red}
.btn-2:focus {color:yellow}
.btn-3:focus {color:green}


.btn-1:active {color:red}
.btn-2:active {color:yellow}
.btn-3:active {color:green}

.btn-1:visited {color:red}
.btn-2:visited {color:yellow}
.btn-3:visited {color:green}
*/

.img{
    margin: auto;
    width: 150px;
    height: 180px;
}